.categories {}

.categories .col {
    color: #E41414;
    margin-bottom: 40px;
}

.categories .col:nth-child(2) {
    color: #219653;
}

.categories .col:nth-child(3) {
    color: #828282;
}


.categories .col:nth-child(4) .title {
    color: #828282;
    border-color: #BDBDBD;
    padding-left: 0;
}

.left-menu .col-files {
    position: absolute;
    max-width: 250px;
    right: 0;
    top: 0;
}

.categories .title {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    padding-left: 25px;
    border-bottom: 7px solid currentColor;
    text-transform: uppercase;
    padding-bottom: 2px;
    position: relative;
}

.categories ul {}

.categories ul>li {
    position: relative;
}

.categories .menu-icon-selected {
    width: 18px;
    height: 17px;
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: 0.3s;
}

.categories .active .menu-icon-selected,
.categories li:hover .menu-icon-selected {
    opacity: 1;
    left: 0;
}

.categories ul>li>a {
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    padding: 10px 5px 10px 25px;
    border-bottom: 1px solid #D4E0EF;
}

.categories .file-link {
    text-transform: initial;
}

.categories .file-link:hover {
    text-decoration: underline;
}

.categories .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.popup-link {
    font-family: Caveat;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    color: #E41414;
    display: flex;
    /* align-items: center; */
    text-decoration: none;
    line-height: 1;
}

.popup-link:hover {
    text-decoration: underline;
}

.popup-link .icon-arrow {
    width: 31px;
    height: 18px;
    margin-top: 0.25em;
}

.content-cols {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 0 280px 0 250px;
}

.content-cols asside {
    width: 250px;
}

.content-cols asside+.right-content {
    width: calc(100% - 250px);
    padding-left: 82px;
}

.icon {
    display: inline-block;
}
.mobile_visible {
    visibility: hidden;
}

@media (max-width:1400px) {
    .content-cols {
        padding-left: 0
    }
}

@media (max-width:1024px) {
    .content-cols {
        padding-right: 00;
    }

    .left-menu .col-files {
        position: relative;
    }
}

@media (max-width: 960px) {
    .text-block ol li {
        padding-left: 40px
    }

    .text-block ul li {
        padding-left: 40px
    }

    .content-cols asside+.right-content {
        padding-left: 30px;
    }

    .popup-link {
        font-size: 30px;
    }

    .categories {
        display: none;
    }

    .content-cols asside+.right-content {
        padding-left: 0;
        width: 100%;
    }

}

@media (max-width:768px) {
    .mobile_visible {
    visibility: visible;
    }
    .categories ul {
        display: none;
    }

    .categories .open ul {
        display: block;
    }

    .main_menu .categories .title {
        padding-left: 0;
        padding-bottom: 7px;
    }

    .main_menu .categories .title:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 6px solid currentColor;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        position: absolute;
        right: 0;
        top: 6px;
        bottom: 0;
        margin: auto;
    }
    .main_menu .categories .open .title:after {
        border-bottom-color: currentColor;
        border-top-color: transparent;
        top:0;
        bottom: 6px;
    }
}