<div class="categories">
    <div class="col">
        <div class="title">Ликвидация</div>
        <ul>
            <li>
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">Ликвидировать ИП </a>
            </li>
            <li>
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">Ликвидировать ООО, АО, ОАО и др. </a>
            </li>
            <li class="active">
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">Ликвидировать ООО самостоятельно</a>
            </li>
            <li>
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">Инструкция по самостоятельному закрытию ИП</a>
            </li>
            <li>
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">Риски при ликвидации ИП</a>
            </li>
            <li>
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">Риски при ликвидации ооо</a>
            </li>
        </ul>
    </div>
    <div class="col">
        <div class="title">Регистрация</div>
        <ul>
            <li>
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">Зарегистрировать ИП </a>
            </li>
            <li>
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">Зарегистрировать ООО, АО, ОАО и др.</a>
            </li>
            <li>
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">Зарегистрировать ООО амостоятельно</a>
            </li>
            <li>
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">Инструкция по самостоятельной регистрации ИП</a>
            </li>
        </ul>
    </div>
    <div class="col">
        <div class="title">Инфо</div>
        <ul>
            <li>
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">О компании</a>
            </li>
            <li>
                <svg class="menu-icon-selected">
                    <use xlink:href="img/sprite.svg#menu-arr"></use>
                </svg>
                <a href="#">Контакты</a>
            </li>
        </ul>
    </div>
    <div class="col col-files">
        <div class="title">Скачать Образцы</div>
        <ul>
            <li>
                <a href="#" class="file-link">
                    <i class="icon icon-document"></i>
                    Протокол общего собрания участников общества
                </a>
            </li>
            <li>
                <a href="#" class="file-link">
                    <i class="icon icon-document"></i>
                    Заявление по форме Р15001
                </a>
            </li>
        </ul>
    </div>
</div>