<footer>

    <div class="container">
        <div class="footer-cols">
            <div class="col">
                <ul>
                    <li><a href="#">Ликвидировать ИП</a></li>
                    <li><a href="#">Ликвидировать ООО</a></li>
                    <li><a href="#">Ликвидировать АО, ОАО и др.</a></li>
                </ul>
            </div>
            <div class="col">
            <ul>
                <li><a href="#">Открыть ИП</a></li>
                <li><a href="#">Открыть ООО</a></li>
                <li><a href="#">Открыть АО, ОАО и др.</a></li>
                </ul>
            </div>
            <div class="col">
                <a href="#" class="popup-link">Риски ликвидации</a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="copy"><a href="#">Условия обработки персональной информации</a></div>
        <div class="copy-date">© 2020 Likvidator.pro</div>
    </div>
</footer>
<div class="hidden">
    <div class="pop_up_box" id="menu">

        <div class="main_menu">
            <div class="col" style="color: #E41414; border-color: #E41414;">
                <div class="title">Ликвидация</div>
                <ul>
                    <li><a href="#">Ликвидировать ИП </a></li>
                    <li><a href="#">Ликвидировать ООО, АО, ОАО и др. </a></li>
                    <li><a href="#">Ликвидировать ООО самостоятельно</a></li>
                    <li><a href="#">Инструкция по самостоятельному закрытию ИП</a></li>
                    <li><a href="#">Риски при ликвидации ИП</a></li>
                    <li><a href="#">Риски при ликвидации ооо</a></li>
                </ul>
            </div>
            <div class="col" style="color: #219653; border-color: #219653;">
                <div class="title">Регистрация</div>
                <ul>
                    <li><a href="#">Зарегистрировать ИП </a></li>
                    <li><a href="#">Зарегистрировать ООО, АО, ОАО и др.</a></li>
                    <li><a href="#">Зарегистрировать ООО амостоятельно</a></li>
                    <li><a href="#">Инструкция по самостоятельной регистрации ИП</a></li>
                </ul>
            </div>
            <div class="col" style="color: #828282; border-color: #828282;">
                <div class="title">Инфо</div>
                <ul>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="col" style="color: #828282; border-color: #BDBDBD;">
                <div class="title">Скачать Образцы</div>
                <ul>
                    <li><a href="#" class="file-link">Протокол общего собрания участников общества</a></li>
                    <li><a href="#" class="file-link">Заявление по форме Р15001</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="js/easybox/easybox.css">
<script src="js/easybox/easybox.js"></script>
</body>

</html>