<footer>
    <div class="container">
        <div class="footer-cols">
            <div class="col">
                <ul>
                    <li><a href="#">Ликвидировать ИП</a></li>
                    <li><a href="#">Ликвидировать ООО</a></li>
                    <li><a href="#">Ликвидировать АО, ОАО и др.</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href="#">Открыть ИП</a></li>
                    <li><a href="#">Открыть ООО</a></li>
                    <li><a href="#">Открыть АО, ОАО и др.</a></li>
                </ul>
            </div>
            <div class="col">
                <a href="#">Риски ликвидации</a>
            </div>
            <div class="col">

                <a href="#order" class="popup-link easybox">
                    <svg class="icon-arrow">
                        <use xlink:href="img/sprite.svg#arr-right"></use>
                    </svg>
                    Заявка на консультацию
                </a>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="bottom-inner">
                <div class="copy"><a href="#">Условия обработки персональной информации</a></div>
                <div class="copy-date">© 2020 Likvidator.pro</div>
            </div>
        </div>
    </div>
</footer>

<div class="hidden">
    <div class="pop_up_box" id="order">

</div>
</div>

<link rel="stylesheet" href="fonts/inter/stylesheet.css">
<link rel="stylesheet" href="fonts/caveat/stylesheet.css">

<link rel="stylesheet" href="js/easybox/easybox.css">
<script src="js/easybox/easybox.js"></script>
</body>

</html>